.navbar-brand img {
  width: 80px;
}

.navbar-nav {
  align-items: center;
}

.navbar .navbar-nav .nav-link {
  color: #fff;
  font-size: 1.1em;
  padding: 0.5em 4em;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

header {
  background-image: url('/images/banner-image.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
}

.banner-header {
  font-size: 5.1em;
}

.center {
  display: flex;
  height: 750px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 992px) {
  .navbar-brand img {
    width: 100px;
  }
  .navbar-brand {
    margin-right: 0;
  }
}
